- page_title s_('Trial|Start your free Ultimate and GitLab Duo Enterprise trial')

- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"
= render "layouts/google_tag_manager_body"

.row
  .col-md-6.m-sm-6.gl-px-3
    %h2.gl-pb-5.gl-my-0
      = _("About your company")
    #js-registrations-company-form{ data: create_company_form_data(onboarding_status_presenter) }

  - if onboarding_status_presenter.show_company_form_illustration?
    .col-md-4.company-illustration{ data: { testid: 'trial-registration-column' } }
      = image_tag 'illustrations/saas-trial-illustration.svg', alt: '', class: 'gl-hidden md:gl-inline gl-w-full'
  - else
    = render 'shared/trial_reassurances'
